extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Vicki

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Passionate, motivated, hard working, positive, focused, and aspiring to create something amazing is me in five words or less. I love creating something out of nothing and making magic on the screen. Digital media allow me to do all these things. It's hard work, I admit, but it never really works if I love doing it. 
            | I am open to trying new things to broaden my horizon and experience. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Adobe Photoshop
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li jQuery
          li Github
        h6 Contact Info

        ul
          li 818-325-6423
          li vicki@gmail.com

        a.button.expanded(href='https://www.linkedin.com/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/vickicres' target="_blank") GitHub
        //- a.button.expanded(href='#') Twitter

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  