extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Vicki

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Passionate, motivated, hard working, positive, focused, and aspiring to create something amazing is me in five words or less. I love creating something out of nothing and making magic on the screen. Digital media allow me to do all these things. It's hard work, I admit, but it never really works if I love doing it. 
            | I am open to trying new things to broaden my horizon and experience. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Adobe Photoshop
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li jQuery
          li Github
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/vickicres' target="_blank") GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  