extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Click here to go back
    center
        h1 OOps!! Something went wrong, please go back to the main page.
        br
        h2= error.status
        h2= error.message
        
    br
    pre= error.stack